@font-face {
  font-family: "Cooper Hewitt";
  src: url(/fonts/Copper-Hewitt/CooperHewitt-Book.woff);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Cooper Hewitt";
  src: url(/fonts/Copper-Hewitt/CooperHewitt-BookItalic.woff);
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Cooper Hewitt";
  src: url(/fonts/Copper-Hewitt/CooperHewitt-Bold.woff);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Cooper Hewitt";
  src: url(/fonts/Copper-Hewitt/CooperHewitt-BoldItalic.woff);
  font-style: italic;
  font-weight: 700;
}
