#!/usr/bin/env ruby

compile '/**/*.md' do
  filter :mark_abbreviations
  filter :generate_references
  filter :kramdown
  layout '/default.*'
  filter :relativize_paths, type: :html
  write item.identifier.without_ext + '.html'
end

compile '/**/*.scss' do
  filter :sass, syntax: :scss
  filter :relativize_paths, type: :css
  write item.identifier.without_ext + '.css'
end

compile '/**/*.{png}' do
  write item.identifier.to_s
end

compile '/**/*' do
end

layout '/**/*.html', :erb
layout '/**/*.haml', :haml
