@import 'base.scss';

.categories {
    text-transform: uppercase;
}

.groups:first-letter {
    text-transform: capitalize;
}

a.titles {
    text-decoration: none;
}

#home_lang_nav {
    position: absolute;
    left: 15px;
    top: 15px;
}
