@import 'base.scss';

#main {
  .bibliography_entry {
    margin-bottom: 0.5em;
  }

  .bibliography_key {
    font-weight: bold;
  }

  #license {
    margin-top: 2em;
    margin-bottom: 1em;

    img {
      border-width: 0;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1em;
    }
  }

}

.menu {
  margin: 1em;
}

.menu-toggle {
  font-size: 1.5em;
}

.toc_label {
  display: none;
  margin-left: 0.2em;
}

.topics {
  display: none;
  margin: {
    top: 1em;
    bottom: 2em;
  }
}

.topic_categories {
  text-transform: uppercase;
  margin-top: 0.6em;
}

.topic_list {
  margin: 0;
  list-style-type: none;
}

.menu.is-open .topics {
  display: block;
}

.menu.is-open .toc_label {
  display: inline;
}
