// Preamble

/**
 * Universal border-box fix
 * Listing 3.6 of Keith J. Grant "CSS in Depth",
 * referred to as [CSSD] in the following
 */
:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

// Mixins
@mixin prefix($declarations) {
  @each $property, $value in $declarations {
    @each $prefix in (webkit, moz, ms) {
      #{'-' + $prefix + '-' + $property}: $value;
    }

    // Output standard non-prefixed declaration
    #{$property}: $value;
  }
}

@mixin hyphenate {
  @include prefix((hyphens: auto));
}

// Browser default font being 16px...
@mixin font-spec($names, $sizing: null) {
  font-family: $names;
  @each $size, $breakpoint  in $sizing {
    @if $breakpoint { // ... breakpoint in em
      @media (min-device-width: $breakpoint/16*1em) {
        font-size: $size/16*1em; // ... rescaling to given size in px
      }
    }
    @else {
      font-size: $size/16*1em; // ... rescaling to given size in px
    }
  }
}
