// Force all elements to size boxes so that `width` includes padding and border
*, ::before, ::after {
  box-sizing: border-box;
}

// === Mixins for typography ===
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media only screen and (min-device-width: #{$tablet-width})
  and (max-device-width: #{$desktop-width}) {
    @content
  }
}

@mixin desktop {
  @media only screen and (min-device-width: #{$desktop-width}) {
    @content
  }
}

@mixin font_families {
  font-family: Palatino, serif;
}

@mixin main_paragraph_font_specs {
  @include tablet {
    #main {
      font-size: 150%;
    }
    #sidebar {
      font-size: 120%;
    }
  }
}

@mixin alignment_and_hyphenation {
  text-align: justify;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

// === Layout ===
* {
  margin: 0;
  padding: 0;
}

$sidebar_width: 250px;
$sidebar_padding: 20px;
$divider_width: 1px;
$main_padding_left: 40px;
$main_padding_right: $sidebar_padding;

.optional-sidebar {
  #main {
    @include tablet {
      margin-right: 0;
      padding-right: $main_padding_left;
    }
  }

  #sidebar {
    @include tablet {
      display: none;
    }
  }
}

#main {
  margin-right: $sidebar_width;
  padding-right: $main_padding_right;

  border-right: $divider_width solid #ccc;

  padding: {
    top: 40px;
    left: $main_padding_left;
  }

  p {
    margin: 0.5em 0;
  }

  ul,   ol {
    margin: 0.5em;
  }

  @each $width in 640px {
    .width#{$width} {
      img {
        display: block;
        width: $width;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .bibliography_entry {
    margin-bottom: 0.5em;
  }

  #license {
    margin-top: 2em;
    margin-bottom: 1em;

    img {
      border-width: 0;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1em;
    }
  }
}

#sidebar {
  position: fixed;
  top: 0em;
  right: 0em;

  width: $sidebar_width;

  padding: $sidebar_padding;

  .flags {
    margin-bottom: 1.2em;

    img, span {
      vertical-align: middle;
    }

    .right {
      float: right;
    }
  }

  .title-list {
    padding-left: 1em;
    margin-top: 0.5em;
    margin-bottom: 1.2em;
  }

  .whoami {
    margin-bottom: 2em;
  }
}


// === Typography and colours ===
body {
  background: #fff;
  line-height: 1.3;
  @include font_families;
  @include main_paragraph_font_specs;
}

// Style links as on Wikipedia
a, span.MathJax_ref {
  color: #0645ad;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

abbr {
  hyphens: none;
}

sup {
  line-height: 0;
}

#main {
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
  }

  h1 {
    text-align: center;
    font-size: 2.0581em;
    margin-bottom: 2.059em;
  }

  h2 {
    margin-top: 1em;
    font-size: 1.618em;
  }

  h3 {
    margin-top: 0.786em;
    font-size: 1.272em;
  }

  p, ul, ol {
    @include alignment_and_hyphenation;
  }

  .MathJax a {
    @include font_families;
    @include main_paragraph_font_specs;
  }
}

#sidebar {
  font-size: 0.9em;

  .flags {
    text-align: justify;
  }

  .topics {
    text-transform: uppercase;

    color: #333;

    letter-spacing: 1px;
  }

  .whoami {
    @include alignment_and_hyphenation;
  }
}

// === List markers ===
#main {
  ul li {
    list-style-type: square;
  }
}

#sidebar {
  .title {
    list-style-type: disc;
    list-style-position: outside;
  }
}

