// Serif
@font-face {
  font-family: 'Computer Modern Serif';
  src: url('/fonts/Computer-Modern/cmunrm.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Computer Modern Serif';
  src: url('/fonts/Computer-Modern/cmunbx.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Computer Modern Serif';
  src: url('/fonts/Computer-Modern/cmunti.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

// Sans-Serif
@font-face {
  font-family: 'Computer Modern Serif';
  src: url('/fonts/Computer-Modern/cmunbi.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Computer Modern Sans';
  src: url('/fonts/Computer-Modern/cmunss.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Computer Modern Sans';
  src: url('/fonts/cmunsx.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Computer Modern Sans';
  src: url('/fonts/cmunsi.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}


@font-face {
  font-family: 'Computer Modern Sans';
  src: url('/fonts/cmunso.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}
