#license
  %div
    %a{:rel => "license",
       :href => "http://creativecommons.org/licenses/by-nc-sa/4.0/deed.fr"}
      %img{:alt => "Creative Commons License",
           :src => "https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png"}
  %div
    Cette œuvre est mise à disposition selon les termes de la
    %a{:rel => "license",
       :href => "http://creativecommons.org/licenses/by-nc-sa/4.0/deed.fr"}
      Licence Internationale "Creative Commons Attribution" 4.0 - Pas d’utilisation commerciale - Partage dans les mêmes conditions.
